.mat-mdc-form-field {
  --mat-mdc-form-field-floating-label-scale: 0.75;
  display: inline-flex;
  flex-direction: column;
  min-width: 0;
  text-align: left;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--mat-form-field-container-text-font);
  line-height: var(--mat-form-field-container-text-line-height);
  font-size: var(--mat-form-field-container-text-size);
  letter-spacing: var(--mat-form-field-container-text-tracking);
  font-weight: var(--mat-form-field-container-text-weight);
}
