  <h3>Title</h3>
  <form class="form" [formGroup]="form">
    <mat-form-field style="width: 100%" appearance="fill">
      <mat-label>label with space</mat-label>
      <input matInput id="firstname" name="firstname" autocomplete="given-name" type="text" formControlName="vorname" [value]="vorname" />
    </mat-form-field>
    <mat-form-field style="width: 100%" appearance="fill">
      <mat-label>labelWithoutSpace</mat-label>
      <input matInput id="lastname" name="lastname" autocomplete="family-name" type="text" formControlName="nachname" [value]="nachname" />
    </mat-form-field>
  </form>
